body {
  background-color: #7699c05b;
  text-align: center;
}

.body-container {
  display: block;
  margin: 0 auto;
}
.forecast-container,
footer, header {
  background-color: white;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

footer {
  font-size: 14px;
}

.city-element {
  font-size: 1.3em;
}

.temp-element {
  display: flex;
}

.metric {
  display: flex;
  font-size: 24px;
}

.city-temp {
  display: inline-flex;
  color: rgba(0, 0, 255, 0.864);
  margin-top: 15px;
}

.humidity {
  color: rgb(228, 65, 5);
}

.wind-speed {
  color: rgb(228, 65, 5);
}
.search-form-input {
  background-color: #7699c05b;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  margin-top: 10px;
}

.search-button {
  background-color: rgba(0, 0, 255, 0.864);
  color: white;
  width: 20%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
}

.condition {
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.711);
}
.temp-element {
  font-size: 2.5em;
}

.forecast-title {
  text-align: left;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  text-align: justify;
  border-bottom: 1px solid lightgray;
}

.col {
  display: table-cell;
  
}

.forecast {
  padding-bottom: 15px;
  
}

.forecast-temp {
  color: rgb(228, 65, 5);
}

.forecast-icon {
  width: 70px;
  
}


